@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    outline-offset: -3px;
    outline: 2px solid white;
    cursor: pointer;
}